<h1>Editing lift</h1>

<% form_for(@lift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :exercise_id %><br />
    <%= f.text_field :exercise_id %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lift %> |
<%= link_to 'Back', lifts_path %>