<h1>Editing exercise</h1>

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :muscle_id %><br />
    <%= f.text_field :muscle_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>